/* Font */
@font-face {
  font-family: 'Open Sans - Semibold';
  src: url('../fonts/OpenSans/OpenSans-Semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans/firasans-medium-webfont.woff2') format('woff2'), url('../fonts/FiraSans/firasans-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans/firasans-regular-webfont.woff2') format('woff2'), url('../fonts/FiraSans/firasans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans/firasans-light-webfont.woff2') format('woff2'), url('../fonts/FiraSans/firasans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* variables for fonts */
/* Styles */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans - Semibold', 'Arial', sans-serif;
}
h2,
h3,
p {
  font-family: 'Fira Sans', 'Arial', sans-serif;
}
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 400;
}
p {
  font-weight: 300;
}
.container {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  width: 940px;
  /* Измерил через авокод */
  padding-left: 30px;
  padding-right: 30px;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
  width: 940px;
  padding-left: 30px;
  padding-right: 30px;
}
.content,
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}
.sidebar {
  border: 1px solid black;
}
footer {
  text-align: center;
  margin: 0 auto;
  width: 940px;
  padding-left: 30px;
  padding-right: 30px;
}
