/* About */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* *** Content *** */

/* Common styles - html&body */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* font-family: $font_OpenSans; */
}

/* Header */

header {
  width: 940px;
  margin: 20px 0;
}

header .container {
  display: flex;
  align-items: right;
  justify-content: space-between;
  max-width: 940px; /* Измерил через авокод */
/*   padding-left: 30px;
  padding-right: 30px; */
}

.portfolio-image img {
  height: 60px;
  border: 1px solid $color_frame_icon;
	border-radius: 50%;
	margin: 0 auto;
}
.portfolio-name {
  flex: 1 0 0;
  margin-left: 20px;
}
.portfolio-name h2 { 
  color: $color_gray;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: 28px;
}
.contact-link a {
  justify-content: flex-end;
  font-family: 'Fira Sans';
  /* font-weight: 400; */
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: $color_contact;
}

/* Main */

main {
  display: flex;
  width: 100%;
  flex: 1 0 auto;
  border: 1px solid $color_black;
  text-align: center;
  margin: 0 auto;
  width: 940px;
  padding-left: 30px;
  padding-right: 30px;
}

.content,
.sidebar {
  display: flex;
  flex: 2 1 auto;
}

.sidebar {
  border: 1px solid $color_black;
}

/* Footer */

footer {
  text-align: center;
  margin: 0 auto;
  width: 940px;
  padding-left: 30px;
  padding-right: 30px;
}

/* *** Fonts *** */

h2,
h3,
p {
  font-family: $font_FiraSans;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

p{
  font-weight: 300;
}