/* Colors */
$color_black: #000;
$color_white: #fff;
$color_index_btn: #33c1e3;  // Color of button in index.html
$color_gray: #414141;
$color_contact: #32c3e5;
$color_about-me: #33c1e3; // Мои Контакты
$color_frame_icon: #bebebe; // Avatar frame
$color_footer: #414141; // Footer 
$color_footer-text: #646464; // Footer text (copyright)
